<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/checkCarts.js" type="module"></script>

    <script defer src="js/construct.js" type="module"></script>
</head>
<body>

<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div id="fh5co-logo"><a href="index.html">Shop</a></div>
                </div>
                <div class="col-xs-9 text-right">
                    <ul>
                        <li class="shopping-cart">
                            <a href="cart.html" class="cart"><span><small id="small-cart">0</small><i
                                    class="icon-shopping-cart"></i></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div id="fh5co-product">
        <div class="container">
            <div class="row ">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Каталог</h2>
                </div>
            </div>
            <div class="row" id="products">
            </div>
        </div>
    </div>


    <footer id="fh5co-footer" role="contentinfo">
        <div class="container text-center">
            <small class="block">&copy; 2022 Все права защищены</small>
        </div>
    </footer>
</div>

</body>
</html>

